.home-logout-btn {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  border: none;
  border-radius: 50%;
}
#profile {
  position: fixed;
  bottom: 15rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: none;
}

.video-container {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  background-color: black;
  overflow-y: scroll;
}

input[type="file"] {
  width: 6rem;
  border: none;
  outline: none;
  position: fixed;
  bottom: 11rem;
  right: 2rem;
}
